{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css"/>
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
	<style>
 
  </style>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50" style="background-image: url('/static/img/bg4.png'); background-repeat: no-repeat; background-attachment: fixed; background-position: center; background-size: cover;">
	<div class="container">

		<div class="row">
			<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">  
			   <ul class="navbar-nav">
			  		<li class="nav-item dropdown">
			      		<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
			        	Home
			      		</a>
			      		<div class="dropdown-menu">
					        <a class="dropdown-item" href="/">Home</a>
					        <a class="dropdown-item" href="/bethesda">RS Bethesda</a>
					        <a class="dropdown-item" href="/sleman">RSUD Sleman</a>
					        <a class="dropdown-item" href="/wates">RSUD Wates</a>
					        <a class="dropdown-item" href="/jih">RS JIH</a>
					        <a class="dropdown-item" href="/panti_rapih">RS Panti Rapih</a>
					        <a class="dropdown-item" href="/pku_muhammadiyah">RS PKU Muhammadiyah</a>
					        <a class="dropdown-item" href="/panembahan">RSUD Panembahan Senopati</a>
					        <a class="dropdown-item" href="/pau_hardjolukito">RS PAU Dr. S. Hardjolukito</a>
					        <a class="dropdown-item" href="/ugm">RS UGM</a>
					        <a class="dropdown-item" href="/kota">RSUD Kota Yogyakarta</a>
					        <a class="dropdown-item" href="/sardjito">RS dr. Sardjito</a>
				      	</div>
			    	</li>
				    <li class="nav-item">
				    </li>
				    <li class="nav-item">
				       <a class="nav-link" href="#section2">Positif Non Medis</a>
				    </li>
				    <li class="nav-item">
				       <a class="nav-link" href="#section3">Positif Medis</a>
				    </li>
				    <li class="nav-item">
				       <a class="nav-link" href="#section4">Negatif Non Medis</a>
				    </li>
				    <li class="nav-item">
				       <a class="nav-link" href="#section5">Negatif Medis</a>
				    </li>
				</ul>
			</nav>
		</div>

		<div class="row title">
	        <div class="col-md-12" id="site-title">
	        	<p> 
	        		<h1 class="title-site", style="padding-top:50px">Visualisasi Pelayanan Jasa Kesehatan</h1>
	        		<p class="desc">Dengan Analisis Sentimen dan Klasifikasi</p>
	        		
	        	</p>
	        </div>
    	</div>

    	<div id="section1">
	    	<div class="row" style="padding-top: 5px">
	    		<hr size="10px" width="100%" color="#0066cc">
	    	</div>
	    	<div class="row my-2">
	    		<div class="col-md-4">
	    			
	    		</div>
	    	</div>
    	</div>

    	<div id="section2">
	  		<div class = 'row'>
	  			<h2>Grafik Frekuensi Frasa Positif non-medis RS Wates</h2>
				<canvas id="pnm" width="10px" height="4px"></canvas>		
			</div>

			<div class="row">
				<h2>Tabel Review Positif non-medis RS Wates</h2>
			<!-- <canvas id="pm" width="10px" height="8px"></canvas> -->
				<table class="table table-striped table-bordered" id="example" style="width:100%">
				  	<thead>
				    <tr>
				      <th scope="col",class="col-lg-1" >No.</th>
				      <th scope="col",class="col-lg-2" >Frasa</th>
				      <th scope="col", class="col-lg-3" >Review</th>
				    </tr>
				  	</thead>
				  	<tbody>
				  		<tr>
					      	<th scope="row">1</th>
					      	<td>pelayan bagus</td>
					     	<td>
					      		Tempatnya semakin baik, fasilitasnya juga semakin lengkap, kebersihan selalu terjaga, masjid selalu bersih , ada atm yang memudahkan kita ketika tarik tunai, sayangnya parkir motor masih belum ada atapnya, tapi parkirannya sudah cukup luas untuk menampung kendaraan pasien dan orang yang mau jenguk. Banyak pembangunan yang sudah atau sedang dilakukan untuk menaikkan kualitas pelayanan rumah sakit
					      	</td>
				      	</tr>
				      	<tr>
					      	<th scope="row">2</th>
					      	<td>tempat luas</td>
					     	<td>
					      		tempat lumayan luas sekarang stlh di tambah gedungnya, bersih tempatnya... sayang fasilitas pendukungnya da yg kurang, contoh tv di kelas satu msh tv tabung
					      	</td>
				      	</tr>
				      	<tr>
					      	<th scope="row">3</th>
					      	<td>tempat nyaman</td>
					     	<td>
					     		<li>
					     			PELAYANAN BAIK DAN RAMAH, sholat jamaah subuh di masjid RSU wates. jamaah yang sholat subuh banyak. tempat sholat bersih dan nyaman.
					     		</li>
					      		<li>
					      			paling ujung selatan,pemandangan bagus,tempat paling nyaman rawat inap ,deket sawah pandangan luass
					      		</li>
					      	</td>
				      	</tr>
				      	<tr>
					      	<th scope="row">4</th>
					      	<td>fasilitas lengkap</td>
					     	<td>
					      		<li>
					      			Tempatnya semakin baik, fasilitasnya juga semakin lengkap, kebersihan selalu terjaga, masjid selalu bersih , ada atm yang memudahkan kita ketika tarik tunai, sayangnya parkir motor masih belum ada atapnya, tapi parkirannya sudah cukup luas untuk menampung kendaraan pasien dan orang yang mau jenguk. Banyak pembangunan yang sudah atau sedang dilakukan untuk menaikkan kualitas pelayanan rumah sakit
					      		</li>
					      		<li>
					      			RSUD Wates ini cukup legendaris. Fasilitas lengkap. sarana dan prasarana lengkap. Parkiran luas. Pelayanan secara menyeluruh sangat memuaskan.
					      		</li>
					      		<li>
					      			(Diterjemahkan oleh Google) Rumah sakit umum dengan fasilitas yang baik. Parkir besar, fasilitas umum lengkap, memiliki ATM.(Asli)Public hospital with good facilities. Big parking are, complete public facilities, have atm.
					      		</li>
					      	</td>
				      	</tr>
				      	<tr>
					      	<th scope="row">5</th>
					      	<td>tempat bersih</td>
					     	<td>
					      		<li>
					      			pelayanan baik perawat ramah tempat selalu bersih masjid memudahkan semua sholat
					      		</li>
					      		<li>
					      			PELAYANAN BAIK DAN RAMAH, sholat jamaah subuh di masjid RSU wates. jamaah yang sholat subuh banyak. tempat sholat bersih dan nyaman.
					      		</li>
					      		<li>
					      			Tempat pelayanan publik yang sangat bagus, ramah2, tempat bersih terawat, untuk tempat strategis, terlihat dari lalulintas normal
					      		</li>
					      	</td>
				      	</tr>
				    </tbody>
				</table>
				<hr size="10px" width="100%" align="left" color="#0066cc">
			</div>
		</div>

		<div id="section3">
			<div class="row">
				<h2>Grafik Frekuensi Frasa Positif Medis RSUD Wates</h2>
				<canvas id="pm" width="10px" height="4px"></canvas>
			</div>

			<div class="row">
				<h2>Tabel Review Positif Medis RSUD Wates</h2>
				<table class="table table-striped table-bordered" id="example1" style="width:100%">
				  	<thead>
				    <tr>
				      <th scope="col",class="col-lg-1" >No.</th>
				      <th scope="col",class="col-lg-2" >Frasa</th>
				      <th scope="col", class="col-lg-3" >Review</th>
				    </tr>
				  	</thead>
				  	<tbody>
				  		<tr>
					      	<th scope="row">1</th>
					      	<td>perawat ramah</td>
					     	<td>
					      		Pelayanan baik dan perawat ramah , tempat selalu bersih , dan ada masjid di dalam memudahkan untuk semua orang sholat 
					      	</td>
				      	</tr>
				  		<tr>
					      	<th scope="row">2</th>
					      	<td>dokter ramah</td>
					     	<td>
					      		Awalnya kesini buat periksa jam 14.00 dan registrasi umum sudah tutup. Tapi ternyata masih bisa periksa lewat IGD, walaupun agak diputer puter sama bagian pendaftaran. Waktu nunggu periksa sempat tanya tanya sama satpam dan dijawab dengan sangat ramah dan santai. Terus dipanggil sama dokter IGD. Ternyata dokternya masih muda dan ramah dalam melayani pasien. Setelah itu saya diminta untuk cek darah di lab. Dan sampai lab ternyata dokternya juga ramah, di lab saya diminta untuk cek darah dan tes urine. Setelah diambil darah dan urine, saya diminta untuk menunggu hasilnya di ruang tunggu. Kemudian dipanggil dokter IGD untuk lihat hasilnya.... Singkat cerita selesailah periksanya.Untuk akses RSUD mudah dijangkau.Tolong bagian pendaftaran untuk lebih ramah lagi.
					      	</td>
				      	</tr>
				  	</tbody>
				</table> 
				<hr size="10px" width="100%" align="left" color="#0066cc">
			</div>
		</div>

		<div id="section4">
			<div class="row">
				<h2>Grafik Frekuensi Frasa Negatif Non-medis</h2>
				<canvas id="nnm" width="10px" height="4px"></canvas>
			</div>
			<div>
				<h2>Tabel Review Negatif non-medis</h2>
			<!-- <canvas id="pm" width="10px" height="8px"></canvas> -->
				<table class="table table-striped table-bordered" id="example2" style="width:100%">
				  	<thead>
				    <tr>
				      	<th scope="col",class="col-lg-1" >No.</th>
				      	<th scope="col",class="col-lg-2" >Frasa</th>
				      	<th scope="col", class="col-lg-3" >Review</th>
				    </tr>
				  	</thead>
				  	<tbody>
				    <tr>
				      	<th scope="row">1</th>
				      	<td>waktu lama</td>
				     	<td>
				      		<li>
				      			''Pasien tanpa asuransi membutuhkan waktu lebih lama, tetapi masih membutuhkan waktu lama.Masjid ini benar-benar nyaman, yang lain begitu persis.Jadwal Registrasi Utama:Senin-Kamis: 08: 00-12: 00Jumat: 8-10 pagiSabtu: 8 pagi - 11 pagiLiburan ditutup, Anda perlu menggunakan Darurat.(Asli)Regional Public Health. Parking Area is large and it one push ticket. It has huge of clients. Especially for Patients with Insurance (BPJS). Need to queuing for a long time till meet the doctor.Patients with no insurance takes shorter, but still take a long time.The mosque is really comfortable, the other is just so so.Main Registration schedule :Monday-Thursday : 8am-12amFriday: 8am-10amSaturday : 8am-11amHoliday is closed, you need to use Emergency.
				      		</li>
				      	</td>
				    </tr>
				  	</tbody>
				</table> 
				<hr size="10px" width="100%" align="left" color="#0066cc">
			</div>
		</div>

		<div id="section5">	
			<div>
				<h2>Grafik Frekuensi Frasa Negatif Medis RS Wates</h2>
				<canvas id="nm" width="10px" height="4px"></canvas>
			</div>
			<div>
			<h2>Tabel Review Negatif Medis RS Wates</h2>
			<!-- <canvas id="pm" width="10px" height="8px"></canvas> -->
				<table class="table table-striped table-bordered" id="example3" style="width:100%">
				  	<thead>
				    <tr>
				      <th scope="col",class="col-lg-1" >No.</th>
				      <th scope="col",class="col-lg-2" >Frasa</th>
				      <th scope="col", class="col-lg-3" >Review</th>
				    </tr>
				  	</thead>
				  	<tbody>
				    <tr>
				      	<th scope="row">1</th>
				      	<td>pasien sedikit</td>
				     	<td>
				      		'''Jauh lebih baik dibanding beberapa tahun yang lalu, baik dari segi insfrastruktur maupun pelayanan. Lingkungan bersih dan terawat. Petugas keamanan sangat disiplin memberikan kenyamanan terhadap pasien dan keluarga. Dukungan aplikasi online sangat memudahkan pasien dalam pendaftaran. Banyaknya pasien mungkin sedikit menguji kesabaran kita.
				      	</td>

				    </tr>
				  	</tbody>
				</table> 

				<hr size="10px" width="100%" align="left" color="#0066cc">
			</div>
		</div>
	</div>
</body>

<script>
	$(document).ready(function () {
		$('#example').DataTable({
			"lengthMenu": [[3, 5, 20, -1], [3, 5, 20, "All"]]
		});
	} );

	$(document).ready(function () {
		$('#example1').DataTable({
			"lengthMenu": [[3, 5, 20, -1], [3, 5, 20, "All"]]
		});
	} );

	$(document).ready(function () {
		$('#example2').DataTable({
			"lengthMenu": [[3, 5, 20, -1], [3, 5, 20, "All"]]
		});
	} );

	$(document).ready(function () {
		$('#example3').DataTable({
			"lengthMenu": [[3, 5, 20, -1], [3, 5, 20, "All"]]
		});
	} );

	var ctx = document.getElementById("sent").getContext('2d');
	var myChart = new Chart(ctx, {

	  	type: 'pie',
	 	data: {
	    labels: ["Positif","Negatif","Netral"],
	    datasets: [{
	      backgroundColor: [
            '#3366cc',
            '#ff5050',
            '#ffff00'
	      ],
	      data: [2585, 1405, 1279]
	    }]
	  }
	});

</script>

<script>
var ctx = document.getElementById('pnm').getContext('2d');
var pnm = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [ 
             'pelayan bagus',
             'tempat luas', 
             'tempat nyaman', 
             'fasilitas lengkap', 
             'tempat bersih'
              
],
        datasets: [{
            label: 'Positif Non Medis',
            data: [1,1,3,3,3
            	  
				],
            backgroundColor: [
                'rgba(100, 150, 232, 1)','rgba(100, 159, 232, 1)',
                'rgba(100, 150, 232, 1)','rgba(100, 159, 232, 1)',
                'rgba(100, 150, 232, 1)','rgba(100, 150, 232, 1)'
            ],
            
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

var ctx = document.getElementById('pm').getContext('2d');
var pm = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [ 
          'perawat ramah', 
          'dokter ramah', 
 
				],
        datasets: [{
            label: 'Positif Medis',
            data: [1,1],
            backgroundColor: [
                'rgba(0, 153, 51,1)','rgba(0, 153, 51,1)'],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

	var ctx = document.getElementById('nnm');
    var nnm = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [ 
             'waktu lama'
],
        datasets: [{
            label: 'Negatif Non Medis',
            data: [1],
            backgroundColor: [
                'rgba(255, 102, 0, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

var ctx = document.getElementById('nm');
var nm = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [ 
          'dokter sedikit'

],
        datasets: [{
            label: 'Negatif Medis',
            data: [1
],
            backgroundColor: [
                'rgba(255, 99, 132, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        },
        events: ['click']
    }
});
</script>
</html>